*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --c-bg: #f3f2ee;
    --c-darker: rgba(0 0 0 / 0.1);
    --c-dark: rgba(0 0 0 / 0.6);
    --c-accent: #0e76a8;
}

html {
    font-family: sans-serif;
    font-size: 20px;
}

body {
    margin: 0;
    background-color: var(--c-bg);
}

section {
    background-color: white;
    margin: 2rem auto;
    width: min(50rem, 100vw);
    border: 0.1rem solid var(--c-darker);
    border-radius: 0.5rem;
}

a {
    color: var(--c-dark);
    text-decoration: none;
    font-weight: bold;
}

button {
    cursor: pointer;
}

.section-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
}

.card {
    color: var(--c-dark);
    border: 0.1rem solid var(--c-darker);
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0.5rem;
}

.card__cover {
    position: absolute;
    height: 25%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.card__profile-photo {
    border-radius: 50%;
    width: 50%;
    margin-top: 0.5rem;
}

.card__name {
    color: black;
    font-weight: bold;
    margin: 0.5rem 0 0 0;
}

.card__job {
    font-size: 0.85rem;
    margin: 0.25rem 0 0 0;
}

.card__mutuals {
    font-size: 0.75rem;
    margin: 1rem 0 0 0;
}

.card__connect {
    color: var(--c-accent);
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
    border: 0.1rem solid var(--c-accent);
    margin: 1rem 0;
    width: 100%;
    padding: 0.5rem 0;
    border-radius: 5rem;
}

.card__delete {
    background-color: var(--c-dark);
    color: white;
    font-size: 1rem;
    border: none;
    width: 2rem;
    aspect-ratio: 1;
    border-radius: 50%;
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
}
